body{
	z-index: 1;
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
	background: hsl(270, 20%, 96%);
}

div{
	display: flow-root;
}

h1{
	color: hsl(271, 36%, 24%);
	font-weight: 500;
	font-size: 2.5rem;
	margin-bottom: 1rem;  
}

h3{
	color: hsl(270, 7%, 64%);
	font-size: 1em;
	line-height: 1.8em;
	font-weight: 400;
}

.container{
	z-index: 25;
	padding-top: 5%;
}


@media screen and (max-width:766px){
	.leftBackground{
		position: absolute; 
		left: -250px;
		float: left; 
		background: linear-gradient(#e942ff, #8838ff);
		width: 500px;
		height: 500px;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
	}

	.rightBackground{
		position: fixed;
		top: 450px;
		right: -250px;
		float: right; 
		background: rgb(233,223,239);
		width: 500px;
		height: 700px;
		border-top-left-radius: 250px;
		border-top-right-radius: 250px;
	}
}

@media screen and (min-width:767px){
	.leftBackground{
		position: absolute; 
		left: -100px;
		float: left; 
		background: linear-gradient(#e942ff, #8838ff);
		width: 500px;
		height: 500px;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
	}

	.rightBackground{
		position: fixed;
		bottom: 0px;
		right: -150px;
		float: right; 
		background: rgb(233,223,239);
		width: 500px;
		height: 700px;
		border-top-left-radius: 250px;
		border-top-right-radius: 250px;
	}
}

@media screen and (max-width:767px){
	.mobilePhone{
		/*float: left;*/
		margin-right: auto;
		margin-left: auto;
		top: 10%;
		bottom: auto;

	}

	.mobileHeading{
		width: 80%;
		min-width: 275px;
		margin-top: 20px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;

	}
}
      

@media screen and (min-width:768px){
	.desktopPhone{
		margin-left: auto;
		margin-right: 5px;
	}
	.desktopHeading{
		margin-top: 30%;
		margin-left: 5px;
		margin-right: auto;
	}
}

.phoneCase{
	width: 270px;
	z-index: 50;
/*	float: right;*/
	border: solid white 10px;
	border-radius: 25px;
	background-color: white;
	box-shadow: 0px 2px 30px rgba(0, 0 ,0, 0.2), 
				0px 8px 13px rgba(0, 0, 0, 0.1),
				0px 18px 23px rgba(0, 0, 0, 0.1);
}

.phone{
/*	width: 250px;*/
	background-color: hsl(270, 20%, 96%);
	border-radius: 20px;

}

.phoneHeader{
	padding-bottom: 5px;
	color: white;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	background: linear-gradient(0.25turn, #8838ff, #e942ff);

}

.earPiece{
	width: 50%;
	height: 16px;
	margin: 0 auto 0 auto;
	background-color: white;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;

}

.backButton{
	height: 40px;
	margin: 5px;
	float:left;
	line-height: 40px;

}

.profileImage{
	margin: 5px;
	float: left;
	width: 40px;
	height: 40px;
	object-fit: contain;
	border: solid white .5px;
	border-radius: 50%;
	background-size: contain;
	background-position: center;
	background-image: url(images/avatar.jpg);
}

.profileText{
	margin: 5px;
	float: left;

}

.profileName{
	color: white;
	font-size: .9em;
	font-weight: 500;
}

.profileAvailability{
	color: hsl(276, 100%, 81%);
	font-size: .6em;

}

.options{
	margin: 5px;
	height: 40px;
	line-height: 40px;
	float: right;


}

.receivedMessage{
	padding: 5px;
/*	float: left;*/
	width: 60%;
	font-size: .6em;
	color: hsl(276, 55%, 52%);

}

.receivedText{
	float: left;
	background-color: rgb(233,223,239);
	margin-top: 5px;
	padding: 5px;
	border-radius: 5px;
	/*box-shadow: 0px 4px 3px rgba(0, 0 ,0, 0.4), 
				0px 8px 13px rgba(0, 0, 0, 0.1),
				0px 18px 23px rgba(0, 0, 0, 0.1);*/
}

.sentMessage{
	padding: 5px;
	float: right;
	width: 60%;
	font-size: .6em;
	color: hsl(271, 15%, 43%);
}

.sentImage{
	float: right;
	width: 18%;
	margin-top: 5%;
	margin-right: 5%;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.sentImage:after{
	content: "";
	display: block;
	padding-bottom: 100%;
}

.sentText{
	float: right;
	background-color: white;
	margin-top: 5px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: /*0px 4px 3px rgba(0, 0 ,0, 0.4),*/ 
				0px 8px 13px rgba(0, 0, 0, 0.1),
/*				0px 18px 23px rgba(0, 0, 0, 0.1);*/
}

.image1{
	background-image: url(images/dog-image-1.jpg);
}
.image2{
	background-image: url(images/dog-image-2.jpg);
}
.image3{
	background-image: url(images/dog-image-3.jpg);
}

.receivedPrice{
	color: white;
	width: 70%;
	margin: 5px;
	padding: 5px;
	background: linear-gradient(0.25turn, #e942ff, #8838ff);
	border-radius: 10px;
	border-bottom-left-radius: 5px;
}

.optionCheck{
	float: left;
	font-size: .9em

}

.optionText{
	padding: 5px;
	float: left;
	font-weight: 400;
	font-size: .6em;
	line-height: 1em;

}

.optionPrice{
	float: right;
	font-weight: 500;
	font-size: .9em;
/*	line-height: 1em;*/

}

.messageBox{
	margin: 5px;
	margin-top: 10px;
	background-color: white;
	border-radius: 1em;
	line-height: 1.5em;
	padding: .25em;

}

.messageText{
	float: left;
	color: hsl(206, 6%, 79%);
	height: 1.5em;
	font-size: .6em; 
	margin-left: 15px;
}

.messageSend{
	float: right;
	color: hsl(271, 36%, 24%);
	font-size: 1.5em;

}









